composes/databases/oracle/12/data

composes/databases/oracle/18/data
composes/databases/oracle/18/scripts
composes/databases/oracle/18/scriptsinit

composes/databases/oracle/19/data

composes/databases/postgresql/10/data