composes/databases/oracle/11gR2/data
composes/databases/oracle/11gR2/data-bridge
composes/databases/oracle/11gR2/startup
composes/databases/oracle/11gR2/tablespaces

composes/databases/oracle/12/data
composes/databases/oracle/12/tablespaces

composes/databases/oracle/18/data
composes/databases/oracle/18/scripts
composes/databases/oracle/18/startup

composes/databases/oracle/19/data

composes/databases/postgresql/10/data
composes/databases/postgresql/12/data

composes/databases/sqlserver/17/data
composes/databases/sqlserver/19/data

composes/portainer/portainer_data

aws/SQS/tmp_localstack

machines/*/*/*/*/.vagrant
machines/*/*/.vagrant